This notebook is for data preprocessing

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('/storage/projects2/e17006-GBManalysis/GBM-analysis/data/Pre-operative_TCGA_GBM_NIfTI_and_Segmentations/TCGA_GBM_radiomicFeatures.csv')

In [3]:
train.head()

,ID,Date,VOLUME_ET,VOLUME_NET,VOLUME_ED,VOLUME_TC,VOLUME_WT,VOLUME_BRAIN,VOLUME_ET_OVER_NET,VOLUME_ET_OVER_ED,...,TGM_Cog_Z_4,TGM_T_4,TGM_Cog_X_5,TGM_Cog_Y_5,TGM_Cog_Z_5,TGM_T_5,TGM_Cog_X_6,TGM_Cog_Y_6,TGM_Cog_Z_6,TGM_T_6
0,TCGA-02-0006,1996.08.23,1662,384,36268,2046,38314,1469432,4.328125,0.045826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TCGA-02-0009,1997.06.14,4362,4349,15723,8711,24434,1295721,1.002989,0.277428,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TCGA-02-0011,1998.02.01,33404,48612,45798,82016,127814,1425843,0.687155,0.729377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TCGA-02-0027,1999.03.28,12114,7587,34086,19701,53787,1403429,1.596679,0.355395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TCGA-02-0033,1997.05.26,34538,7137,65653,41675,107328,1365237,4.839288,0.526069,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Columns with null values are significant. Therefore drop the columns with null vals.

Get the OS data from the OS/name_mapping.csv, OS/survival_data file and add it to the dataframe

In [5]:
maps = pd.read_csv('/storage/projects2/e17006-GBManalysis/GBM-analysis/data/OS/name_mapping.csv')
maps.head()

,Grade,BraTS_2017_subject_ID,BraTS_2018_subject_ID,TCGA_TCIA_subject_ID,BraTS_2019_subject_ID
0,HGG,Brats17_CBICA_AAB_1,Brats18_CBICA_AAB_1,NaN,BraTS19_CBICA_AAB_1
1,HGG,Brats17_CBICA_AAG_1,Brats18_CBICA_AAG_1,NaN,BraTS19_CBICA_AAG_1
2,HGG,Brats17_CBICA_AAL_1,Brats18_CBICA_AAL_1,NaN,BraTS19_CBICA_AAL_1
3,HGG,Brats17_CBICA_AAP_1,Brats18_CBICA_AAP_1,NaN,BraTS19_CBICA_AAP_1
4,HGG,Brats17_CBICA_ABB_1,Brats18_CBICA_ABB_1,NaN,BraTS19_CBICA_ABB_1

In [6]:
OS = pd.read_csv('/storage/projects2/e17006-GBManalysis/GBM-analysis/data/OS/survival_data.csv')
OS.head()

             BraTS19ID        Age Survival ResectionStatus
0  BraTS19_CBICA_AAB_1  60.463014      289             GTR
1  BraTS19_CBICA_AAG_1  52.263014      616             GTR
2  BraTS19_CBICA_AAL_1  54.301370      464             GTR
3  BraTS19_CBICA_AAP_1  39.068493      788             GTR
4  BraTS19_CBICA_ABB_1  68.493151      465             GTR

Merging the OS data with train with name mappings

In [7]:
# Merge df_A with df_B on A1 = B1
merged_AB = train.merge(maps, how='inner', left_on='ID', right_on='TCGA_TCIA_subject_ID')
merged_AB.head()

,ID,Date,VOLUME_ET,VOLUME_NET,VOLUME_ED,VOLUME_TC,VOLUME_WT,VOLUME_BRAIN,VOLUME_ET_OVER_NET,VOLUME_ET_OVER_ED,...,TGM_T_5,TGM_Cog_X_6,TGM_Cog_Y_6,TGM_Cog_Z_6,TGM_T_6,Grade,BraTS_2017_subject_ID,BraTS_2018_subject_ID,TCGA_TCIA_subject_ID,BraTS_2019_subject_ID
0,TCGA-02-0006,1996.08.23,1662,384,36268,2046,38314,1469432,4.328125,0.045826,...,NaN,NaN,NaN,NaN,NaN,HGG,Brats17_TCIA_425_1,Brats18_TCIA01_425_1,TCGA-02-0006,BraTS19_TCIA01_425_1
1,TCGA-02-0009,1997.06.14,4362,4349,15723,8711,24434,1295721,1.002989,0.277428,...,NaN,NaN,NaN,NaN,NaN,HGG,Brats17_TCIA_190_1,Brats18_TCIA01_190_1,TCGA-02-0009,BraTS19_TCIA01_190_1
2,TCGA-02-0011,1998.02.01,33404,48612,45798,82016,127814,1425843,0.687155,0.729377,...,NaN,NaN,NaN,NaN,NaN,HGG,Brats17_TCIA_460_1,Brats18_TCIA01_460_1,TCGA-02-0011,BraTS19_TCIA01_460_1
3,TCGA-02-0027,1999.03.28,12114,7587,34086,19701,53787,1403429,1.596679,0.355395,...,NaN,NaN,NaN,NaN,NaN,HGG,Brats17_TCIA_186_1,Brats18_TCIA01_186_1,TCGA-02-0027,BraTS19_TCIA01_186_1
4,TCGA-02-0033,1997.05.26,34538,7137,65653,41675,107328,1365237,4.839288,0.526069,...,NaN,NaN,NaN,NaN,NaN,HGG,Brats17_TCIA_429_1,Brats18_TCIA01_429_1,TCGA-02-0033,BraTS19_TCIA01_429_1

In [8]:
# Merge merged_AB with df_C on B2 = C2
result = merged_AB.merge(OS, how='inner', left_on='BraTS_2019_subject_ID', right_on='BraTS19ID')
result.head()

,ID,Date,VOLUME_ET,VOLUME_NET,VOLUME_ED,VOLUME_TC,VOLUME_WT,VOLUME_BRAIN,VOLUME_ET_OVER_NET,VOLUME_ET_OVER_ED,...,TGM_T_6,Grade,BraTS_2017_subject_ID,BraTS_2018_subject_ID,TCGA_TCIA_subject_ID,BraTS_2019_subject_ID,BraTS19ID,Age,Survival,ResectionStatus
0,TCGA-02-0006,1996.08.23,1662,384,36268,2046,38314,1469432,4.328125,0.045826,...,NaN,HGG,Brats17_TCIA_425_1,Brats18_TCIA01_425_1,TCGA-02-0006,BraTS19_TCIA01_425_1,BraTS19_TCIA01_425_1,56.208219,558,NaN
1,TCGA-02-0009,1997.06.14,4362,4349,15723,8711,24434,1295721,1.002989,0.277428,...,NaN,HGG,Brats17_TCIA_190_1,Brats18_TCIA01_190_1,TCGA-02-0009,BraTS19_TCIA01_190_1,BraTS19_TCIA01_190_1,61.526027,322,NaN
2,TCGA-02-0011,1998.02.01,33404,48612,45798,82016,127814,1425843,0.687155,0.729377,...,NaN,HGG,Brats17_TCIA_460_1,Brats18_TCIA01_460_1,TCGA-02-0011,BraTS19_TCIA01_460_1,BraTS19_TCIA01_460_1,18.975342,630,NaN
3,TCGA-02-0027,1999.03.28,12114,7587,34086,19701,53787,1403429,1.596679,0.355395,...,NaN,HGG,Brats17_TCIA_186_1,Brats18_TCIA01_186_1,TCGA-02-0027,BraTS19_TCIA01_186_1,BraTS19_TCIA01_186_1,33.887671,370,NaN
4,TCGA-02-0033,1997.05.26,34538,7137,65653,41675,107328,1365237,4.839288,0.526069,...,NaN,HGG,Brats17_TCIA_429_1,Brats18_TCIA01_429_1,TCGA-02-0033,BraTS19_TCIA01_429_1,BraTS19_TCIA01_429_1,54.986301,86,NaN

In [13]:
i = 0
for col in result.columns:
    i += 1
    nan_count = result[col].isnull().sum()
    print(f"Column{i} '{col}' has {nan_count} NaN values")  # Use f-strings for formatting

Column1 'ID' has 0 NaN values
Column2 'Date' has 0 NaN values
Column3 'VOLUME_ET' has 0 NaN values
Column4 'VOLUME_NET' has 0 NaN values
Column5 'VOLUME_ED' has 0 NaN values
Column6 'VOLUME_TC' has 0 NaN values
Column7 'VOLUME_WT' has 0 NaN values
Column8 'VOLUME_BRAIN' has 0 NaN values
Column9 'VOLUME_ET_OVER_NET' has 0 NaN values
Column10 'VOLUME_ET_OVER_ED' has 0 NaN values
Column11 'VOLUME_NET_OVER_ED' has 0 NaN values
Column12 'VOLUME_ET_over_TC' has 0 NaN values
Column13 'VOLUME_NET_over_TC' has 0 NaN values
Column14 'VOLUME_ED_over_TC' has 0 NaN values
Column15 'VOLUME_ET_OVER_WT' has 0 NaN values
Column16 'VOLUME_NET_OVER_WT' has 0 NaN values
Column17 'VOLUME_ED_OVER_WT' has 0 NaN values
Column18 'VOLUME_TC_OVER_WT' has 0 NaN values
Column19 'VOLUME_ET_OVER_BRAIN' has 0 NaN values
Column20 'VOLUME_NET_OVER_BRAIN' has 0 NaN values
Column21 'VOLUME_ED_over_BRAIN' has 0 NaN values
Column22 'VOLUME_TC_over_BRAIN' has 0 NaN values
Column23 'VOLUME_WT_OVER_BRAIN' has 0 NaN values
Column24 'DIST_Vent_TC' has 0 NaN values
Column25 'DIST_Vent_ED' has 0 NaN values
Column26 'INTENSITY_Mean_ET_T1Gd' has 0 NaN values
Column27 'INTENSITY_STD_ET_T1Gd' has 0 NaN values
Column28 'INTENSITY_Mean_ET_T1' has 0 NaN values
Column29 'INTENSITY_STD_ET_T1' has 0 NaN values
Column30 'INTENSITY_Mean_ET_T2' has 0 NaN values
Column31 'INTENSITY_STD_ET_T2' has 0 NaN values
Column32 'INTENSITY_Mean_ET_FLAIR' has 0 NaN values
Column33 'INTENSITY_STD_ET_FLAIR' has 0 NaN values
Column34 'INTENSITY_Mean_NET_T1Gd' has 0 NaN values
Column35 'INTENSITY_STD_NET_T1Gd' has 0 NaN values
Column36 'INTENSITY_Mean_NET_T1' has 0 NaN values
Column37 'INTENSITY_STD_NET_T1' has 0 NaN values
Column38 'INTENSITY_Mean_NET_T2' has 0 NaN values
Column39 'INTENSITY_STD_NET_T2' has 0 NaN values
Column40 'INTENSITY_Mean_NET_FLAIR' has 0 NaN values
Column41 'INTENSITY_STD_NET_FLAIR' has 0 NaN values
Column42 'INTENSITY_Mean_ED_T1Gd' has 0 NaN values
Column43 'INTENSITY_STD_ED_T1Gd' has 0 NaN values
Column44 'INTENSITY_Mean_ED_T1' has 0 NaN values
Column45 'INTENSITY_STD_ED_T1' has 0 NaN values
Column46 'INTENSITY_Mean_ED_T2' has 0 NaN values
Column47 'INTENSITY_STD_ED_T2' has 0 NaN values
Column48 'INTENSITY_Mean_ED_FLAIR' has 0 NaN values
Column49 'INTENSITY_STD_ED_FLAIR' has 0 NaN values
Column50 'HISTO_ET_T1Gd_Bin1' has 0 NaN values
Column51 'HISTO_ET_T1Gd_Bin2' has 0 NaN values
Column52 'HISTO_ET_T1Gd_Bin3' has 0 NaN values
Column53 'HISTO_ET_T1Gd_Bin4' has 0 NaN values
Column54 'HISTO_ET_T1Gd_Bin5' has 0 NaN values
Column55 'HISTO_ET_T1Gd_Bin6' has 0 NaN values
Column56 'HISTO_ET_T1Gd_Bin7' has 0 NaN values
Column57 'HISTO_ET_T1Gd_Bin8' has 0 NaN values
Column58 'HISTO_ET_T1Gd_Bin9' has 0 NaN values
Column59 'HISTO_ET_T1Gd_Bin10' has 0 NaN values
Column60 'HISTO_ED_T1Gd_Bin1' has 0 NaN values
Column61 'HISTO_ED_T1Gd_Bin2' has 0 NaN values
Column62 'HISTO_ED_T1Gd_Bin3' has 0 NaN values
Column63 'HISTO_ED_T1Gd_Bin4' has 0 NaN values
Column64 'HISTO_ED_T1Gd_Bin5' has 0 NaN values
Column65 'HISTO_ED_T1Gd_Bin6' has 0 NaN values
Column66 'HISTO_ED_T1Gd_Bin7' has 0 NaN values
Column67 'HISTO_ED_T1Gd_Bin8' has 0 NaN values
Column68 'HISTO_ED_T1Gd_Bin9' has 0 NaN values
Column69 'HISTO_ED_T1Gd_Bin10' has 0 NaN values
Column70 'HISTO_NET_T1Gd_Bin1' has 0 NaN values
Column71 'HISTO_NET_T1Gd_Bin2' has 0 NaN values
Column72 'HISTO_NET_T1Gd_Bin3' has 0 NaN values
Column73 'HISTO_NET_T1Gd_Bin4' has 0 NaN values
Column74 'HISTO_NET_T1Gd_Bin5' has 0 NaN values
Column75 'HISTO_NET_T1Gd_Bin6' has 0 NaN values
Column76 'HISTO_NET_T1Gd_Bin7' has 0 NaN values
Column77 'HISTO_NET_T1Gd_Bin8' has 0 NaN values
Column78 'HISTO_NET_T1Gd_Bin9' has 0 NaN values
Column79 'HISTO_NET_T1Gd_Bin10' has 0 NaN values
Column80 'HISTO_ET_T1_Bin1' has 0 NaN values
Column81 'HISTO_ET_T1_Bin2' has 0 NaN values
Column82 'HISTO_ET_T1_Bin3' has 0 NaN values
Column83 'HISTO_ET_T1_Bin4' has 0 NaN values
Column84 'HISTO_ET_T1_Bin5' has 0 NaN values
Column85 'HISTO_ET_T1_Bin6' has 0 NaN values
Column86 'HISTO_ET_T1_Bin7' has 0 NaN values
Column87 'HISTO_ET_T1_Bin8' has 0 NaN values
Column88 'HISTO_ET_T1_Bin9' has 0 NaN values
Column89 'HISTO_ET_T1_Bin10' has 0 NaN values
Column90 'HISTO_ED_T1_Bin1' has 0 NaN values
Column91 'HISTO_ED_T1_Bin2' has 0 NaN values
Column92 'HISTO_ED_T1_Bin3' has 0 NaN values
Column93 'HISTO_ED_T1_Bin4' has 0 NaN values
Column94 'HISTO_ED_T1_Bin5' has 0 NaN values
Column95 'HISTO_ED_T1_Bin6' has 0 NaN values
Column96 'HISTO_ED_T1_Bin7' has 0 NaN values
Column97 'HISTO_ED_T1_Bin8' has 0 NaN values
Column98 'HISTO_ED_T1_Bin9' has 0 NaN values
Column99 'HISTO_ED_T1_Bin10' has 0 NaN values
Column100 'HISTO_NET_T1_Bin1' has 0 NaN values
Column101 'HISTO_NET_T1_Bin2' has 0 NaN values
Column102 'HISTO_NET_T1_Bin3' has 0 NaN values
Column103 'HISTO_NET_T1_Bin4' has 0 NaN values
Column104 'HISTO_NET_T1_Bin5' has 0 NaN values
Column105 'HISTO_NET_T1_Bin6' has 0 NaN values
Column106 'HISTO_NET_T1_Bin7' has 0 NaN values
Column107 'HISTO_NET_T1_Bin8' has 0 NaN values
Column108 'HISTO_NET_T1_Bin9' has 0 NaN values
Column109 'HISTO_NET_T1_Bin10' has 0 NaN values
Column110 'HISTO_ET_T2_Bin1' has 0 NaN values
Column111 'HISTO_ET_T2_Bin2' has 0 NaN values
Column112 'HISTO_ET_T2_Bin3' has 0 NaN values
Column113 'HISTO_ET_T2_Bin4' has 0 NaN values
Column114 'HISTO_ET_T2_Bin5' has 0 NaN values
Column115 'HISTO_ET_T2_Bin6' has 0 NaN values
Column116 'HISTO_ET_T2_Bin7' has 0 NaN values
Column117 'HISTO_ET_T2_Bin8' has 0 NaN values
Column118 'HISTO_ET_T2_Bin9' has 0 NaN values
Column119 'HISTO_ET_T2_Bin10' has 0 NaN values
Column120 'HISTO_ED_T2_Bin1' has 0 NaN values
Column121 'HISTO_ED_T2_Bin2' has 0 NaN values
Column122 'HISTO_ED_T2_Bin3' has 0 NaN values
Column123 'HISTO_ED_T2_Bin4' has 0 NaN values
Column124 'HISTO_ED_T2_Bin5' has 0 NaN values
Column125 'HISTO_ED_T2_Bin6' has 0 NaN values
Column126 'HISTO_ED_T2_Bin7' has 0 NaN values
Column127 'HISTO_ED_T2_Bin8' has 0 NaN values
Column128 'HISTO_ED_T2_Bin9' has 0 NaN values
Column129 'HISTO_ED_T2_Bin10' has 0 NaN values
Column130 'HISTO_NET_T2_Bin1' has 0 NaN values
Column131 'HISTO_NET_T2_Bin2' has 0 NaN values
Column132 'HISTO_NET_T2_Bin3' has 0 NaN values
Column133 'HISTO_NET_T2_Bin4' has 0 NaN values
Column134 'HISTO_NET_T2_Bin5' has 0 NaN values
Column135 'HISTO_NET_T2_Bin6' has 0 NaN values
Column136 'HISTO_NET_T2_Bin7' has 0 NaN values
Column137 'HISTO_NET_T2_Bin8' has 0 NaN values
Column138 'HISTO_NET_T2_Bin9' has 0 NaN values
Column139 'HISTO_NET_T2_Bin10' has 0 NaN values
Column140 'HISTO_ET_FLAIR_Bin1' has 0 NaN values
Column141 'HISTO_ET_FLAIR_Bin2' has 0 NaN values
Column142 'HISTO_ET_FLAIR_Bin3' has 0 NaN values
Column143 'HISTO_ET_FLAIR_Bin4' has 0 NaN values
Column144 'HISTO_ET_FLAIR_Bin5' has 0 NaN values
Column145 'HISTO_ET_FLAIR_Bin6' has 0 NaN values
Column146 'HISTO_ET_FLAIR_Bin7' has 0 NaN values
Column147 'HISTO_ET_FLAIR_Bin8' has 0 NaN values
Column148 'HISTO_ET_FLAIR_Bin9' has 0 NaN values
Column149 'HISTO_ET_FLAIR_Bin10' has 0 NaN values
Column150 'HISTO_ED_FLAIR_Bin1' has 0 NaN values
Column151 'HISTO_ED_FLAIR_Bin2' has 0 NaN values
Column152 'HISTO_ED_FLAIR_Bin3' has 0 NaN values
Column153 'HISTO_ED_FLAIR_Bin4' has 0 NaN values
Column154 'HISTO_ED_FLAIR_Bin5' has 0 NaN values
Column155 'HISTO_ED_FLAIR_Bin6' has 0 NaN values
Column156 'HISTO_ED_FLAIR_Bin7' has 0 NaN values
Column157 'HISTO_ED_FLAIR_Bin8' has 0 NaN values
Column158 'HISTO_ED_FLAIR_Bin9' has 0 NaN values
Column159 'HISTO_ED_FLAIR_Bin10' has 0 NaN values
Column160 'HISTO_NET_FLAIR_Bin1' has 0 NaN values
Column161 'HISTO_NET_FLAIR_Bin2' has 0 NaN values
Column162 'HISTO_NET_FLAIR_Bin3' has 0 NaN values
Column163 'HISTO_NET_FLAIR_Bin4' has 0 NaN values
Column164 'HISTO_NET_FLAIR_Bin5' has 0 NaN values
Column165 'HISTO_NET_FLAIR_Bin6' has 0 NaN values
Column166 'HISTO_NET_FLAIR_Bin7' has 0 NaN values
Column167 'HISTO_NET_FLAIR_Bin8' has 0 NaN values
Column168 'HISTO_NET_FLAIR_Bin9' has 0 NaN values
Column169 'HISTO_NET_FLAIR_Bin10' has 0 NaN values
Column170 'SPATIAL_Frontal' has 0 NaN values
Column171 'SPATIAL_Temporal' has 0 NaN values
Column172 'SPATIAL_Parietal' has 0 NaN values
Column173 'SPATIAL_Basal_G' has 0 NaN values
Column174 'SPATIAL_Insula' has 0 NaN values
Column175 'SPATIAL_CC_Fornix' has 0 NaN values
Column176 'SPATIAL_Occipital' has 0 NaN values
Column177 'SPATIAL_Cere' has 0 NaN values
Column178 'SPATIAL_Brain_stem' has 0 NaN values
Column179 'ECCENTRICITY_ET' has 0 NaN values
Column180 'ECCENTRICITY_ED' has 0 NaN values
Column181 'ECCENTRICITY_NET' has 0 NaN values
Column182 'SOLIDITY_ET' has 0 NaN values
Column183 'SOLIDITY_ED' has 0 NaN values
Column184 'SOLIDITY_NET' has 0 NaN values
Column185 'TEXTURE_GLOBAL_ET_T1Gd_Variance' has 0 NaN values
Column186 'TEXTURE_GLOBAL_ET_T1Gd_Skewness' has 0 NaN values
Column187 'TEXTURE_GLOBAL_ET_T1Gd_Kurtosis' has 0 NaN values
Column188 'TEXTURE_GLOBAL_ET_T1_Variance' has 0 NaN values
Column189 'TEXTURE_GLOBAL_ET_T1_Skewness' has 0 NaN values
Column190 'TEXTURE_GLOBAL_ET_T1_Kurtosis' has 0 NaN values
Column191 'TEXTURE_GLOBAL_ET_T2_Variance' has 0 NaN values
Column192 'TEXTURE_GLOBAL_ET_T2_Skewness' has 0 NaN values
Column193 'TEXTURE_GLOBAL_ET_T2_Kurtosis' has 0 NaN values
Column194 'TEXTURE_GLOBAL_ET_FLAIR_Variance' has 0 NaN values
Column195 'TEXTURE_GLOBAL_ET_FLAIR_Skewness' has 0 NaN values
Column196 'TEXTURE_GLOBAL_ET_FLAIR_Kurtosis' has 0 NaN values
Column197 'TEXTURE_GLOBAL_ED_T1Gd_Variance' has 0 NaN values
Column198 'TEXTURE_GLOBAL_ED_T1Gd_Skewness' has 0 NaN values
Column199 'TEXTURE_GLOBAL_ED_T1Gd_Kurtosis' has 0 NaN values
Column200 'TEXTURE_GLOBAL_ED_T1_Variance' has 0 NaN values
Column201 'TEXTURE_GLOBAL_ED_T1_Skewness' has 0 NaN values
Column202 'TEXTURE_GLOBAL_ED_T1_Kurtosis' has 0 NaN values
Column203 'TEXTURE_GLOBAL_ED_T2_Variance' has 0 NaN values
Column204 'TEXTURE_GLOBAL_ED_T2_Skewness' has 0 NaN values
Column205 'TEXTURE_GLOBAL_ED_T2_Kurtosis' has 0 NaN values
Column206 'TEXTURE_GLOBAL_ED_FLAIR_Variance' has 0 NaN values
Column207 'TEXTURE_GLOBAL_ED_FLAIR_Skewness' has 0 NaN values
Column208 'TEXTURE_GLOBAL_ED_FLAIR_Kurtosis' has 0 NaN values
Column209 'TEXTURE_GLOBAL_NET_T1Gd_Variance' has 0 NaN values
Column210 'TEXTURE_GLOBAL_NET_T1Gd_Skewness' has 0 NaN values
Column211 'TEXTURE_GLOBAL_NET_T1Gd_Kurtosis' has 0 NaN values
Column212 'TEXTURE_GLOBAL_NET_T1_Variance' has 0 NaN values
Column213 'TEXTURE_GLOBAL_NET_T1_Skewness' has 0 NaN values
Column214 'TEXTURE_GLOBAL_NET_T1_Kurtosis' has 0 NaN values
Column215 'TEXTURE_GLOBAL_NET_T2_Variance' has 0 NaN values
Column216 'TEXTURE_GLOBAL_NET_T2_Skewness' has 0 NaN values
Column217 'TEXTURE_GLOBAL_NET_T2_Kurtosis' has 0 NaN values
Column218 'TEXTURE_GLOBAL_NET_FLAIR_Variance' has 0 NaN values
Column219 'TEXTURE_GLOBAL_NET_FLAIR_Skewness' has 0 NaN values
Column220 'TEXTURE_GLOBAL_NET_FLAIR_Kurtosis' has 0 NaN values
Column221 'TEXTURE_GLCM_ET_T1Gd_Energy' has 0 NaN values
Column222 'TEXTURE_GLCM_ET_T1Gd_Contrast' has 0 NaN values
Column223 'TEXTURE_GLCM_ET_T1Gd_Entropy' has 0 NaN values
Column224 'TEXTURE_GLCM_ET_T1Gd_Homogeneity' has 0 NaN values
Column225 'TEXTURE_GLCM_ET_T1Gd_Correlation' has 0 NaN values
Column226 'TEXTURE_GLCM_ET_T1Gd_SumAverage' has 0 NaN values
Column227 'TEXTURE_GLCM_ET_T1Gd_Variance' has 0 NaN values
Column228 'TEXTURE_GLCM_ET_T1Gd_Dissimilarity' has 0 NaN values
Column229 'TEXTURE_GLCM_ET_T1Gd_AutoCorrelation' has 0 NaN values
Column230 'TEXTURE_GLCM_ET_T1_Energy' has 0 NaN values
Column231 'TEXTURE_GLCM_ET_T1_Contrast' has 0 NaN values
Column232 'TEXTURE_GLCM_ET_T1_Entropy' has 0 NaN values
Column233 'TEXTURE_GLCM_ET_T1_Homogeneity' has 0 NaN values
Column234 'TEXTURE_GLCM_ET_T1_Correlation' has 0 NaN values
Column235 'TEXTURE_GLCM_ET_T1_SumAverage' has 0 NaN values
Column236 'TEXTURE_GLCM_ET_T1_Variance' has 0 NaN values
Column237 'TEXTURE_GLCM_ET_T1_Dissimilarity' has 0 NaN values
Column238 'TEXTURE_GLCM_ET_T1_AutoCorrelation' has 0 NaN values
Column239 'TEXTURE_GLCM_ET_T2_Energy' has 0 NaN values
Column240 'TEXTURE_GLCM_ET_T2_Contrast' has 0 NaN values
Column241 'TEXTURE_GLCM_ET_T2_Entropy' has 0 NaN values
Column242 'TEXTURE_GLCM_ET_T2_Homogeneity' has 0 NaN values
Column243 'TEXTURE_GLCM_ET_T2_Correlation' has 0 NaN values
Column244 'TEXTURE_GLCM_ET_T2_SumAverage' has 0 NaN values
Column245 'TEXTURE_GLCM_ET_T2_Variance' has 0 NaN values
Column246 'TEXTURE_GLCM_ET_T2_Dissimilarity' has 0 NaN values
Column247 'TEXTURE_GLCM_ET_T2_AutoCorrelation' has 0 NaN values
Column248 'TEXTURE_GLCM_ET_FLAIR_Energy' has 0 NaN values
Column249 'TEXTURE_GLCM_ET_FLAIR_Contrast' has 0 NaN values
Column250 'TEXTURE_GLCM_ET_FLAIR_Entropy' has 0 NaN values
Column251 'TEXTURE_GLCM_ET_FLAIR_Homogeneity' has 0 NaN values
Column252 'TEXTURE_GLCM_ET_FLAIR_Correlation' has 0 NaN values
Column253 'TEXTURE_GLCM_ET_FLAIR_SumAverage' has 0 NaN values
Column254 'TEXTURE_GLCM_ET_FLAIR_Variance' has 0 NaN values
Column255 'TEXTURE_GLCM_ET_FLAIR_Dissimilarity' has 0 NaN values
Column256 'TEXTURE_GLCM_ET_FLAIR_AutoCorrelation' has 0 NaN values
Column257 'TEXTURE_GLCM_ED_T1Gd_Energy' has 0 NaN values
Column258 'TEXTURE_GLCM_ED_T1Gd_Contrast' has 0 NaN values
Column259 'TEXTURE_GLCM_ED_T1Gd_Entropy' has 0 NaN values
Column260 'TEXTURE_GLCM_ED_T1Gd_Homogeneity' has 0 NaN values
Column261 'TEXTURE_GLCM_ED_T1Gd_Correlation' has 0 NaN values
Column262 'TEXTURE_GLCM_ED_T1Gd_SumAverage' has 0 NaN values
Column263 'TEXTURE_GLCM_ED_T1Gd_Variance' has 0 NaN values
Column264 'TEXTURE_GLCM_ED_T1Gd_Dissimilarity' has 0 NaN values
Column265 'TEXTURE_GLCM_ED_T1Gd_AutoCorrelation' has 0 NaN values
Column266 'TEXTURE_GLCM_ED_T1_Energy' has 0 NaN values
Column267 'TEXTURE_GLCM_ED_T1_Contrast' has 0 NaN values
Column268 'TEXTURE_GLCM_ED_T1_Entropy' has 0 NaN values
Column269 'TEXTURE_GLCM_ED_T1_Homogeneity' has 0 NaN values
Column270 'TEXTURE_GLCM_ED_T1_Correlation' has 0 NaN values
Column271 'TEXTURE_GLCM_ED_T1_SumAverage' has 0 NaN values
Column272 'TEXTURE_GLCM_ED_T1_Variance' has 0 NaN values
Column273 'TEXTURE_GLCM_ED_T1_Dissimilarity' has 0 NaN values
Column274 'TEXTURE_GLCM_ED_T1_AutoCorrelation' has 0 NaN values
Column275 'TEXTURE_GLCM_ED_T2_Energy' has 0 NaN values
Column276 'TEXTURE_GLCM_ED_T2_Contrast' has 0 NaN values
Column277 'TEXTURE_GLCM_ED_T2_Entropy' has 0 NaN values
Column278 'TEXTURE_GLCM_ED_T2_Homogeneity' has 0 NaN values
Column279 'TEXTURE_GLCM_ED_T2_Correlation' has 0 NaN values
Column280 'TEXTURE_GLCM_ED_T2_SumAverage' has 0 NaN values
Column281 'TEXTURE_GLCM_ED_T2_Variance' has 0 NaN values
Column282 'TEXTURE_GLCM_ED_T2_Dissimilarity' has 0 NaN values
Column283 'TEXTURE_GLCM_ED_T2_AutoCorrelation' has 0 NaN values
Column284 'TEXTURE_GLCM_ED_FLAIR_Energy' has 0 NaN values
Column285 'TEXTURE_GLCM_ED_FLAIR_Contrast' has 0 NaN values
Column286 'TEXTURE_GLCM_ED_FLAIR_Entropy' has 0 NaN values
Column287 'TEXTURE_GLCM_ED_FLAIR_Homogeneity' has 0 NaN values
Column288 'TEXTURE_GLCM_ED_FLAIR_Correlation' has 0 NaN values
Column289 'TEXTURE_GLCM_ED_FLAIR_SumAverage' has 0 NaN values
Column290 'TEXTURE_GLCM_ED_FLAIR_Variance' has 0 NaN values
Column291 'TEXTURE_GLCM_ED_FLAIR_Dissimilarity' has 0 NaN values
Column292 'TEXTURE_GLCM_ED_FLAIR_AutoCorrelation' has 0 NaN values
Column293 'TEXTURE_GLCM_NET_T1Gd_Energy' has 0 NaN values
Column294 'TEXTURE_GLCM_NET_T1Gd_Contrast' has 0 NaN values
Column295 'TEXTURE_GLCM_NET_T1Gd_Entropy' has 0 NaN values
Column296 'TEXTURE_GLCM_NET_T1Gd_Homogeneity' has 0 NaN values
Column297 'TEXTURE_GLCM_NET_T1Gd_Correlation' has 0 NaN values
Column298 'TEXTURE_GLCM_NET_T1Gd_SumAverage' has 0 NaN values
Column299 'TEXTURE_GLCM_NET_T1Gd_Variance' has 0 NaN values
Column300 'TEXTURE_GLCM_NET_T1Gd_Dissimilarity' has 0 NaN values
Column301 'TEXTURE_GLCM_NET_T1Gd_AutoCorrelation' has 0 NaN values
Column302 'TEXTURE_GLCM_NET_T1_Energy' has 0 NaN values
Column303 'TEXTURE_GLCM_NET_T1_Contrast' has 0 NaN values
Column304 'TEXTURE_GLCM_NET_T1_Entropy' has 0 NaN values
Column305 'TEXTURE_GLCM_NET_T1_Homogeneity' has 0 NaN values
Column306 'TEXTURE_GLCM_NET_T1_Correlation' has 0 NaN values
Column307 'TEXTURE_GLCM_NET_T1_SumAverage' has 0 NaN values
Column308 'TEXTURE_GLCM_NET_T1_Variance' has 0 NaN values
Column309 'TEXTURE_GLCM_NET_T1_Dissimilarity' has 0 NaN values
Column310 'TEXTURE_GLCM_NET_T1_AutoCorrelation' has 0 NaN values
Column311 'TEXTURE_GLCM_NET_T2_Energy' has 0 NaN values
Column312 'TEXTURE_GLCM_NET_T2_Contrast' has 0 NaN values
Column313 'TEXTURE_GLCM_NET_T2_Entropy' has 0 NaN values
Column314 'TEXTURE_GLCM_NET_T2_Homogeneity' has 0 NaN values
Column315 'TEXTURE_GLCM_NET_T2_Correlation' has 0 NaN values
Column316 'TEXTURE_GLCM_NET_T2_SumAverage' has 0 NaN values
Column317 'TEXTURE_GLCM_NET_T2_Variance' has 0 NaN values
Column318 'TEXTURE_GLCM_NET_T2_Dissimilarity' has 0 NaN values
Column319 'TEXTURE_GLCM_NET_T2_AutoCorrelation' has 0 NaN values
Column320 'TEXTURE_GLCM_NET_FLAIR_Energy' has 0 NaN values
Column321 'TEXTURE_GLCM_NET_FLAIR_Contrast' has 0 NaN values
Column322 'TEXTURE_GLCM_NET_FLAIR_Entropy' has 0 NaN values
Column323 'TEXTURE_GLCM_NET_FLAIR_Homogeneity' has 0 NaN values
Column324 'TEXTURE_GLCM_NET_FLAIR_Correlation' has 0 NaN values
Column325 'TEXTURE_GLCM_NET_FLAIR_SumAverage' has 0 NaN values
Column326 'TEXTURE_GLCM_NET_FLAIR_Variance' has 0 NaN values
Column327 'TEXTURE_GLCM_NET_FLAIR_Dissimilarity' has 0 NaN values
Column328 'TEXTURE_GLCM_NET_FLAIR_AutoCorrelation' has 0 NaN values
Column329 'TEXTURE_GLRLM_ET_T1Gd_SRE' has 0 NaN values
Column330 'TEXTURE_GLRLM_ET_T1Gd_LRE' has 0 NaN values
Column331 'TEXTURE_GLRLM_ET_T1Gd_GLN' has 0 NaN values
Column332 'TEXTURE_GLRLM_ET_T1Gd_RLN' has 0 NaN values
Column333 'TEXTURE_GLRLM_ET_T1Gd_RP' has 0 NaN values
Column334 'TEXTURE_GLRLM_ET_T1Gd_LGRE' has 0 NaN values
Column335 'TEXTURE_GLRLM_ET_T1Gd_HGRE' has 0 NaN values
Column336 'TEXTURE_GLRLM_ET_T1Gd_SRLGE' has 0 NaN values
Column337 'TEXTURE_GLRLM_ET_T1Gd_SRHGE' has 0 NaN values
Column338 'TEXTURE_GLRLM_ET_T1Gd_LRLGE' has 0 NaN values
Column339 'TEXTURE_GLRLM_ET_T1Gd_LRHGE' has 0 NaN values
Column340 'TEXTURE_GLRLM_ET_T1Gd_GLV' has 0 NaN values
Column341 'TEXTURE_GLRLM_ET_T1Gd_RLV' has 0 NaN values
Column342 'TEXTURE_GLRLM_ET_T1_SRE' has 0 NaN values
Column343 'TEXTURE_GLRLM_ET_T1_LRE' has 0 NaN values
Column344 'TEXTURE_GLRLM_ET_T1_GLN' has 0 NaN values
Column345 'TEXTURE_GLRLM_ET_T1_RLN' has 0 NaN values
Column346 'TEXTURE_GLRLM_ET_T1_RP' has 0 NaN values
Column347 'TEXTURE_GLRLM_ET_T1_LGRE' has 0 NaN values
Column348 'TEXTURE_GLRLM_ET_T1_HGRE' has 0 NaN values
Column349 'TEXTURE_GLRLM_ET_T1_SRLGE' has 0 NaN values
Column350 'TEXTURE_GLRLM_ET_T1_SRHGE' has 0 NaN values
Column351 'TEXTURE_GLRLM_ET_T1_LRLGE' has 0 NaN values
Column352 'TEXTURE_GLRLM_ET_T1_LRHGE' has 0 NaN values
Column353 'TEXTURE_GLRLM_ET_T1_GLV' has 0 NaN values
Column354 'TEXTURE_GLRLM_ET_T1_RLV' has 0 NaN values
Column355 'TEXTURE_GLRLM_ET_T2_SRE' has 0 NaN values
Column356 'TEXTURE_GLRLM_ET_T2_LRE' has 0 NaN values
Column357 'TEXTURE_GLRLM_ET_T2_GLN' has 0 NaN values
Column358 'TEXTURE_GLRLM_ET_T2_RLN' has 0 NaN values
Column359 'TEXTURE_GLRLM_ET_T2_RP' has 0 NaN values
Column360 'TEXTURE_GLRLM_ET_T2_LGRE' has 0 NaN values
Column361 'TEXTURE_GLRLM_ET_T2_HGRE' has 0 NaN values
Column362 'TEXTURE_GLRLM_ET_T2_SRLGE' has 0 NaN values
Column363 'TEXTURE_GLRLM_ET_T2_SRHGE' has 0 NaN values
Column364 'TEXTURE_GLRLM_ET_T2_LRLGE' has 0 NaN values
Column365 'TEXTURE_GLRLM_ET_T2_LRHGE' has 0 NaN values
Column366 'TEXTURE_GLRLM_ET_T2_GLV' has 0 NaN values
Column367 'TEXTURE_GLRLM_ET_T2_RLV' has 0 NaN values
Column368 'TEXTURE_GLRLM_ET_FLAIR_SRE' has 0 NaN values
Column369 'TEXTURE_GLRLM_ET_FLAIR_LRE' has 0 NaN values
Column370 'TEXTURE_GLRLM_ET_FLAIR_GLN' has 0 NaN values
Column371 'TEXTURE_GLRLM_ET_FLAIR_RLN' has 0 NaN values
Column372 'TEXTURE_GLRLM_ET_FLAIR_RP' has 0 NaN values
Column373 'TEXTURE_GLRLM_ET_FLAIR_LGRE' has 0 NaN values
Column374 'TEXTURE_GLRLM_ET_FLAIR_HGRE' has 0 NaN values
Column375 'TEXTURE_GLRLM_ET_FLAIR_SRLGE' has 0 NaN values
Column376 'TEXTURE_GLRLM_ET_FLAIR_SRHGE' has 0 NaN values

In [14]:
# just to check if the merge was correct
result.shape

(76, 735)

In [12]:
# remove the rows with NaN for 'Survival'
result = result.dropna(subset=['Survival'])

# Cluster OS by age

In [17]:
# get the dtype of Survival column
result['Survival'].dtype

# q: dtype('O') means what?
# a: dtype('O') means that the column contains strings, i.e. objects

dtype('O')

In [18]:
# change the dtype of Survival column to int
result['Survival'] = result['Survival'].astype(int)

In [19]:
# Count rows with values above 900
above_900 = result[result['Survival'] > 900].shape[0]

# Count rows with values between 300 and 900
between_300_900 = result[(result['Survival'] > 300) & (result['Survival'] <= 900)].shape[0]

# Count rows with values below 300
below_300 = result[result['Survival'] < 300].shape[0]

# Print the results
print(f"Number of rows with values above 900: {above_900}")
print(f"Number of rows with values between 300 and 900: {between_300_900}")
print(f"Number of rows with values below 300: {below_300}")

Number of rows with values above 900: 6
Number of rows with values between 300 and 900: 39
Number of rows with values below 300: 31

In [21]:
# Count rows with values above 450
above_450 = result[result['Survival'] > 450].shape[0]

# Count rows with values between 300 and 450
between_300_450 = result[(result['Survival'] > 300) & (result['Survival'] <= 450)].shape[0]

# Count rows with values below 300
below_300 = result[result['Survival'] < 300].shape[0]

# Print the results
print(f"Number of rows with values above 450: {above_450}")
print(f"Number of rows with values between 300 and 450: {between_300_450}")
print(f"Number of rows with values below 300: {below_300}")

Number of rows with values above 450: 25
Number of rows with values between 300 and 450: 20
Number of rows with values below 300: 31

In [24]:
# Divide the Survival column into 3 catogories. 1: above 450, 2: between 300 and 450, 3: below  300. Have this in a new column called 'Survival_cat'
result.loc[result['Survival'] > 450, 'Survival_cat'] = 'HIGH'
result.loc[(result['Survival'] > 300) & (result['Survival'] <= 450), 'Survival_cat'] = 'MID'
result.loc[result['Survival'] < 300, 'Survival_cat'] = 'LOW'

result.head()

,ID,Date,VOLUME_ET,VOLUME_NET,VOLUME_ED,VOLUME_TC,VOLUME_WT,VOLUME_BRAIN,VOLUME_ET_OVER_NET,VOLUME_ET_OVER_ED,...,Grade,BraTS_2017_subject_ID,BraTS_2018_subject_ID,TCGA_TCIA_subject_ID,BraTS_2019_subject_ID,BraTS19ID,Age,Survival,ResectionStatus,Survival_cat
0,TCGA-02-0006,1996.08.23,1662,384,36268,2046,38314,1469432,4.328125,0.045826,...,HGG,Brats17_TCIA_425_1,Brats18_TCIA01_425_1,TCGA-02-0006,BraTS19_TCIA01_425_1,BraTS19_TCIA01_425_1,56.208219,558,NaN,HIGH
1,TCGA-02-0009,1997.06.14,4362,4349,15723,8711,24434,1295721,1.002989,0.277428,...,HGG,Brats17_TCIA_190_1,Brats18_TCIA01_190_1,TCGA-02-0009,BraTS19_TCIA01_190_1,BraTS19_TCIA01_190_1,61.526027,322,NaN,MID
2,TCGA-02-0011,1998.02.01,33404,48612,45798,82016,127814,1425843,0.687155,0.729377,...,HGG,Brats17_TCIA_460_1,Brats18_TCIA01_460_1,TCGA-02-0011,BraTS19_TCIA01_460_1,BraTS19_TCIA01_460_1,18.975342,630,NaN,HIGH
3,TCGA-02-0027,1999.03.28,12114,7587,34086,19701,53787,1403429,1.596679,0.355395,...,HGG,Brats17_TCIA_186_1,Brats18_TCIA01_186_1,TCGA-02-0027,BraTS19_TCIA01_186_1,BraTS19_TCIA01_186_1,33.887671,370,NaN,MID
4,TCGA-02-0033,1997.05.26,34538,7137,65653,41675,107328,1365237,4.839288,0.526069,...,HGG,Brats17_TCIA_429_1,Brats18_TCIA01_429_1,TCGA-02-0033,BraTS19_TCIA01_429_1,BraTS19_TCIA01_429_1,54.986301,86,NaN,LOW

# Feature Selection